{% extends "base.html" %}

{% block title %}Edit comment {{ comment.title }}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-2">Confirm Edit</h1>
    <div class="d-flex justify-content-center pt-3">
        <form method="post" action="{% url 'update' pk=comment.id %}" class="text-center" enctype="multipart/form-data">
            {% csrf_token %}
            <br>
            {{ form.as_p }}
            <br>
            <br>
            <input type="submit" value="Save" class="btn btn-signup btn-lg">
        </form>
    </div>
</div>

{% endblock %}